<h2> <%= @a.title %> @<font color="#32cd32"><%= @a.username %></font> </h2>

更新日 :  <%= @a.date %> <br>
いいね数 : <%= @a.good %>

<br>
<div style="white-space:pre-wrap;">
<%= @a.description %>
</div>

<br>

<h4>ソースコード</h4>

<div class="row mx-4" style="white-space:pre-wrap; padding: 5px; margin-bottom: 5px; border: 1px solid #333333; border-radius: 10px;" >
<pre><code>
<%= @a.code %> 
</code></pre>
</div>

<br>

<h4>実行結果</h4>

<div class="row mx-4" style="white-space:pre-wrap; padding: 5px; margin-bottom: 5px; border: 1px solid #333333; border-radius: 10px;" >
<pre><code>
<%= @a.result %> 
</code></pre>
</div>

<br>

<% if !@user_flg then %>
<div class="row mx-2">
<form method="post" action="good">
<button type="submit" class="btn btn-primary">good</button>
<input type="hidden" name="id" value="<%= @a.id %>">
</form>
</div>
<% end %>
<br>