<script src="deleteCheck.js"></script>
<center>
<h1>MyArticle</h1>
</center>

<h2><font color="#32cd32"><%= @a %> </font>さんの記事一覧です</h2>

<div class="text-right mr-5" >
<a class="btn btn-success" data-toggle="collapse" href="/newarticle" role="button" aria-expanded="false" aria-controls="collapseExample">
New Article
</a>
</div>

<a class="btn btn-link" data-toggle="collapse" href="/contentspage" role="button" aria-expanded="false" aria-controls="collapseExample">
Contents
</a>
<br>

<br>
<% if @isarticle>=1 then %>

<table class="table table-bordered">
<tr>
<th>タイトル</th>
<th>公開状況</th>
<th>更新日時</th>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            </th>
<th>いいね数</th>

</tr>
<% @s.each do |a| %>
<tr>
<% if a.title.size>20 %>
<td><%= a.title[0,20]+"..." %></td>
<% else %>
<td><%= a.title %></td>
<% end %>
<td>
<% if a.open==1 then%>
公開
<% else %>
非公開
<%end%>
</td>
<td><%= a.date %></td>
<td><%= a.good %></td> 
<form method="post" action="detail">
<td><button type="submit" class="btn btn-primary">詳細</button></td>
<input type="hidden" name="id" value="<%= a.id %>">
</form>

<form method="post" action="edit">
<td><button type="submit" class="btn btn-success">編集</button></td>
<input type="hidden" name="id" value="<%= a.id %>">
</form>

<form method="post" action="del">
<td><button type="submit" class="btn btn-danger" onclick="return deleteCheck();">削除</button></td>
<input type="hidden" name="id" value="<%= a.id %>">
<input type="hidden" name="_method" value="delete">
</form>
</tr>
<% end %>
</table>
<% else %>
<div class="row mx-2">
you have no article.
</div>
<% end %>

<br>
<a class="btn btn-link" data-toggle="collapse" href="/logout" role="button" aria-expanded="false" aria-controls="collapseExample">
Logout
</a>