<script src="deleteCheck.js"></script>

<center>
<h1>ランキング</h1>
</center>

<a class="btn btn-link" data-toggle="collapse" href="/contentspage" role="button" aria-expanded="false" aria-controls="collapseExample">
Contents
</a>

<br>
<% if @isarticle>=1 then %>

<table class="table table-bordered">
<tr>
<th>順位</th>
<th>タイトル</th>
<th>投稿者</th>
<th>更新日時</th>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            </th>
<th>いいね数</th>

<% rank=1 %>
</tr>
<% @s.each do |a| %>
<tr>
<td><%= rank %></td>
<% rank+=1 %>
<% if a.title.size>20 %>
<td><%= a.title[0,20]+"..." %></td>
<% else %>
<td><%= a.title %></td>
<% end %>
<td><%= a.username %></td>
<td><%= a.date %></td>
<td><%= a.good %></td> 
<form method="post" action="detail">
<td><button type="submit" class="btn btn-primary">詳細</button></td>
<input type="hidden" name="id" value="<%= a.id %>">
</form>
</tr>
<% end %>
</table>
<% else %>
<div class="row mx-2">
No article.
</div>
<% end %>

<br>
<a class="btn btn-link" data-toggle="collapse" href="javascript:history.back()" role="button" aria-expanded="false" aria-controls="collapseExample">
戻る
</a>
<br>